:root {
    --cor-laranja: #ff5202;
    --cor-azul: #1f5eaf;
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-cinza-claro: #525252;
    --fonte-principal: 'Inter', sans-serif;
}

body {
    font-family: var(--fonte-principal);
    font-size: 1.125em; /* 18px */
}

.estrutura-imc {
    margin: 50px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.507);
    max-width: 490px;
    border-radius: 5px;
}

.estrutura-imc .titulo {
    background-color: var(--cor-laranja);
    color: var(--cor-branco);
    padding: 10px 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 1.250em; /* 20px */
}

.estrutura-imc .paragrafo {
    padding: 20px 20px 0 20px;
    font-size: 1em; /* 16px */
    text-align: left;
}

.estrutura-imc .calculo-imc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.calculo-imc .altura, .peso {
    color: var(--cor-azul);
    font-weight: bolder;
    padding-right: 5px;
    text-align: center;
}

.calculo-imc input {
    text-align: left;
    border-radius: 10px;
    border: 1px solid var(--cor-azul);
    margin-top: 5px;
    margin-bottom: 10px;
    width: 30%;
    color: var(--cor-preto);
    padding: 5px 10px;
    color: var(--cor-cinza-claro);
    font-size: 0.875em; /* 14px */
}

.botao .calcular, .limpar {
    padding: 12px 15px;
    margin: 20px 10px 25px 0;
    border-radius: 25px;
    border: none;
    color: var(--cor-branco);
    background-color: var(--cor-azul);
    font-weight: bolder;
    font-size: 0.875em; /* 14px */
}

.botao .limpar {
    background-color: var(--cor-laranja);
}

.botao .calcular:hover, .limpar:hover {
    cursor: pointer;
    opacity: 0.5;
}

table {
    margin-top: 10px;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

table caption {
    background-color: var(--cor-azul);
    color: var(--cor-branco);
    border-radius: 10px;
    padding: 10px 0 10px 20px;
    text-align: left;
}

table thead tr th {
    color: var(--cor-azul);
}

table tr {
    border-bottom: 1px solid var(--cor-cinza-claro);
}

table th, td {
    padding: 5px 35px;
}

table tbody {
    color: var(--cor-cinza-claro);
}

.resultado {
    border-radius: 15px;
    border: none;
    padding: 10px 20px 10px 10px;
    margin-top: 20px;
    color: var(--cor-branco);
    text-transform: uppercase;
    background-color: var(--cor-laranja);    
}