:root {
    --cor-laranja: #ff5202;
    --cor-azul: #1f5eaf;
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-cinza: #525252;
    --fonte-principal: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--cor-laranja);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 82, 2, 0.7);
}

body {
    font-family: var(--fonte-principal);
    font-size: 1.125em; /* 18px */
}

.estrutura-imc {
    margin: 50px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.507);
    max-width: 490px;
    border-radius: 5px;
}

.titulo-main {
    background-color: var(--cor-laranja);
    color: var(--cor-branco);
    padding: 10px 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 1.25em; /* 20px */
}

.paragrafo {
    padding: 20px 20px 5px 20px;
    font-size: 1em; /* 16px */
    text-align: left;
}

.calculo-imc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.altura, .peso {
    color: var(--cor-azul);
    font-weight: bolder;
    padding-right: 5px;
    text-align: center;
}

input {
    text-align: left;
    border-radius: 10px;
    border: 1px solid var(--cor-azul);
    margin-top: 5px;
    margin-bottom: 10px;
    width: 30%;
    padding: 5px 10px;
    color: var(--cor-cinza);
    font-size: 0.875em; /* 14px */
}

.botao button {
    padding: 12px 15px;
    margin: 20px 10px 25px 0;
    border-radius: 25px;
    border: none;
    color: var(--cor-branco);
    font-weight: bolder;
    font-size: 0.875em; /* 14px */
    cursor: pointer;
}

.calcular {
    background-color: var(--cor-azul);
}

.limpar {
    background-color: var(--cor-laranja);
}

.calcular:hover, .limpar:hover {
    opacity: 0.5;
}

table {
    margin-top: 10px;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

caption {
    background-color: var(--cor-azul);
    color: var(--cor-branco);
    border-radius: 10px;
    padding: 10px 0 10px 20px;
    text-align: left;
}

thead th {
    color: var(--cor-azul);
}

tr {
    border-bottom: 1px solid var(--cor-cinza);
}

th, td {
    padding: 5px 35px;
}

tbody {
    color: var(--cor-cinza);
}

.resultado {
    border-radius: 15px;
    border: none;
    padding: 10px 20px 10px 10px;
    margin-top: 20px;
    color: var(--cor-branco);
    text-transform: uppercase;
    background-color: var(--cor-laranja);    
}

.rodape {
    background-color: var(--cor-laranja);
    color: var(--cor-branco);
    margin-top: 100px;
    padding: 20px;
    height: auto;
    width: 100%;
    line-height: 25px;
}

.titulo-rodape {
    text-align: center;
    font-size: 1em; /* 16px */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.titulo-rodape a {
    text-decoration: none;
    color: var(--cor-branco);
}

.titulo-rodape a:hover {
    text-decoration: underline;
    text-underline-position: under;
}
