@media screen and (max-width: 600px) {
    .estrutura {
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        width: auto;
    }

    .titulo {
        font-size: 1.3rem;
        border-radius: 0;
    }

    .resultado {
        margin-bottom: 30px;
    }

    .rodape {
        padding: 5px;
        line-height: 20px;
        margin-top: 20px;
    }

    .rodape .titulo {
        font-size: 0.9rem;
    }
}
